/*settings*/

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,500;0,700;0,900;1,500;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --light_blue:#698DFF;
    --dark_blue:#1F2E55;
    --grayi-blue:#717FA6;
    --bright_blue:#382AE1;
    --light_black:#231F20;
    --gray:#717FA6;
    --white:#FFFFFF;
    --background_color:#E0E8FF;
    --grayi-White:#F7F9FF;
}

body{
    background-image:url(images/pattern-background-mobile.svg);
    background-position:top;
    
    background-repeat: no-repeat;

    background-color: var(--background_color);
    font-family: 'Red Hat Display', sans-serif;
}
.centering{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*main*/
.mainDivStyle{
    background-color: white;

    border-radius: 20px;

    width: 327px;
    height: 567px;

    margin-top: 71px;
    margin-left: 24px;
    margin-right: 24px;

    display: flex;
    flex-direction: column;
}
#illustrationHeroImage{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    width: 327px;
    height: 160px;
}
.seletcionAreaDiv{
    display: flex;
    flex-direction: column;
}
h1{
    font-size: 1.375rem;
    font-weight: 900;

    margin-top: 32px;

    color: var(--dark_blue);
}

#orderPElement{
    font-size: 0.938rem;
    font-weight: 500;
    text-align: center;

    color: var(--grayi-blue);

    margin-top: 16px;
}
.anualPlanDiv{
    border-radius: 20px;

    margin-top: 24px;

    width: 279px;
    height: 81px;

    background-color: var(--grayi-White);

    display: flex;
    flex-direction: row;
   
}

#musicIcon{
    width: 48px;
    height: 48px;

    margin-left: 16px;
    margin-right: 20px;
}
h5{
    font-size:0.875rem;
    font-weight:900;
    
    color: var(--dark_blue);
}
#priceText{
    font-size:0.875rem;
    font-weight: 500;

    color:var(--gray) ;
}
#changeBtn{
    font-size: 0.813rem;
    font-weight:700;
    color: var(--bright_blue);

    margin-left: 50px;
    margin-right: 16px;
}
#proceedBtn{
    width: 279px;
    height: 50px;

    margin-top: 24px;

    border-radius: 11px;

    background-color: var(--bright_blue);

    border: none;

    font-size:0.938rem;
    font-weight:900;
    color: var(--white);

    box-shadow: 0 20px 30px -8px #C5BDF5;
}
#cancelBtn{
    margin-top: 24px;
    background: none;
    border: none;

    font-size:0.938rem;
    font-weight:900;
    color: var(--grayi-blue);
}
/*footer*/
.footerStyle{
    font-size: 11px; 
    text-align: center; 
    color: hsl(228, 45%, 44%); 

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    gap: 3vw;

    margin-top: 71px;
}
.footerLinks{
    text-decoration: none;
}
@media screen and (min-width: 376px) {
    body{
        background-image: url(images/pattern-background-desktop.svg);
        background-position: top;
        background-attachment: fixed;
        background-repeat: repeat-x;
        
    }
    .mainDivStyle{
        width: 450px;
        height: 697px;
    
        margin-top:102px;
    }
    #illustrationHeroImage{
        width: 450px;
        height: 220px;
    }
    h1{
        font-size: 1.75rem;
    
        margin-top: 45px;
    }
    #orderPElement{
        font-size: 1rem;
    
        margin-top: 17px;
    }
    .anualPlanDiv{
        margin-top: 20px;
    
        width: 354px;
        height: 98px;
    }
    
    #musicIcon{
        width: 48px;
        height: 48px;
    
        margin-left: 24px;
    }
    h5{
        font-size:1rem;
    }
    #priceText{
        font-size:1rem;
    }
    #changeBtn{
        font-size: 0.875rem;
       
        margin-left: 94px;
        margin-right: 24px;
    }
    #changeBtn:hover{
        color: #766CF1;
    }
    #proceedBtn{
        width: 354px;
        
        margin-top: 32px;
        cursor: pointer;
    }
    #proceedBtn:hover{
        background-color: #766CF1;
    }
    #cancelBtn{
        margin-top: 32px;
        cursor: pointer;
    }
    #cancelBtn:hover{
       color: var(--dark_blue); 
    }
    /*footer*/
    .footerStyle{
        font-size: 1rem; 
        
        margin-top: 120px;
    }
    .footerLinks{
       cursor: pointer;
    }
    .footerLinks:hover{
        color: var(--bright_blue);
    }
}