
body{
    background-image: url(images/valorant_3.PNG);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.centering{
display: flex;
justify-content: center;
align-items: center;
}
h1{
font-size: 4vw;
color: white;
opacity: 0.7;
    
margin-top:1vw; 
    
display: flex;
align-items: center;
justify-content: center;
}
.flexContainer{
margin-top: 15vw;
margin-left: 2vw;
margin-right: 2vw;
    
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
flex-wrap: wrap;
gap: 2vw;
    
cursor: pointer;
}
    
.g_items{
display: flex;
justify-content: center;
align-items: center;

border: 3px solid black;
border-radius: 20px;
background:linear-gradient(black,#545353,#0ea135);

width: 15vw;
height: 7vw;
}
.g_items:hover{
background: #0ea135;
}
#valorant{
width: 6vw;
}
#the_vr{
width: 6vw;
}
#leet{
width: 12vw;
}
#war_thunder{
width:8vw;
}
#steam{
width: 6vw;
}
