.summeryGrupe {
  margin-bottom: 15px;
}

.previousBtnStyle {
  margin-top: 3vh;

  max-width: 300px;
  font-size: 1rem;
  font-weight: 600;
  color: #dee0e0;
  background: none;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  padding: 10px;
  justify-self: center;
  padding: 10px 25px 10px 25px;
}
.previousBtnStyle:hover {
  background: var(--input_text_color);
  color: var(--card_text_color);
}
