.orderConfirmation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#botomText {
  margin-top: 30px;
}
#heartIcon {
  position: relative;
  top: 5px;
  margin-bottom: 20px;
}
#tyText {
  margin-top: 10px;
}
