.cards {
  margin-top: 5vh;
  border-radius: 10px;
  background-color: var(--card_color);
  padding: 15px;
  margin-left: 20px;
  margin-right: 20px;
}
h2 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--card_text_color);
}
@media (max-width: 700px) {
  h2 {
    font-size: 2rem;
    text-align: center;
  }
}
@media (max-width: 500px) {
  h2 {
    font-size: 2rem;
  }
}
label {
  margin-bottom: 1vh;
}

.btnGrupe {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
}
.radioBtnsGrupe {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.devilveryTime {
  margin-bottom: 10px;
}
.deliveryGrupe {
  border-bottom: 2px solid gray;
  margin-bottom: 15px;
}
input[type="radio"] {
  width: 30px;
  height: 30px;
}
#starIcon {
  font-size: 3rem;
}
textarea {
  padding: 10px;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--input_text_color);
}

input {
  max-width: 100%;
}

label {
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--card_text_color);
}
span {
  color: red;
}
.btn {
  margin-top: 3vh;

  font-size: 2rem;
  font-weight: 700;
  color: var(--card_text_color);
  background: var(--input_text_color);

  border-radius: 15px;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.btn:hover {
  background: var(--hover);
}
