:root {
  --card_color: #db8802;
  --card_text_color: #ffff;
  --input_text_color: #2f3236;
  --input_backgound_color: #f7eccb;
  --hover: #45494e;
  --blue: #3567db;
  --progress_bar_color: #948051;
}
